.inner{
    animation: marquee linear 15s;
    animation-iteration-count: infinite;
}

@keyframes marquee{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}